/* Stile per il form di ricerca */
    .search-container {
      text-align: center;
      margin-top: 20px;
    }

    .search-form {
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    .search-input {
      border: none;
      padding: 10px;
      width: 200px;
      float: left;
      font-size: 16px;;
    }

    .search-button {
      float: left;
      background-color: red;
      color: white;
      border: none;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-left: 1px solid #ccc;
      margin-left: 10px;
    }
    
   

    .search-button:hover {
        background-color: white; /* Colore al passaggio del cursore */
        color: red;
    }

    /* Posizionamento delle icone in alto a destra */
    .header-right {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 10px; /* Spazio tra le icone */
    }

    .header-right img {
        cursor: pointer;
    }

    .icon-container img {
        margin-left: 10px;
        cursor: pointer;
    }