/* Stili del wrapper per l'immagine */
.image-wrapper {
    text-align: center;
    margin-top: 20px; /* Spaziatura sopra */
    margin-bottom: 20px; /* Spaziatura sotto */
}

/* Stili per l'immagine */
.image-wrapper img {
    max-width: 100px; /* Larghezza massima desiderata */
    height: auto;
    display: block;
    margin: 0 auto;
}

.button-wrapper {
    width: 100px; /* Larghezza dei pulsanti */
    text-align: center; /* Allinea il testo al centro */
    margin-left: -50px; /* Margine sinistro negativo per spostare più a sinistra */
    margin-top: -100px; /* Margine superiore negativo per allineare verticalmente */
    margin-right:40px;
    border-color:#fdf88c;
    border:solid;
    border-right:-10px; 
    border-right:-30px;
}



.button-wrapper button {
    width: 100%; /* Occupa tutta la larghezza del wrapper */
    margin-bottom: 10px; /* Spaziatura inferiore tra i pulsanti */
    background-color: #610361;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.game-details {
    flex: 1; /* Occupa lo spazio rimanente */
    padding-right: 20px; /* Spaziatura a destra */
}

.details-and-buttons {
    display: flex; /* Utilizza Flexbox per allineare i dettagli e i pulsanti */
    align-items: flex-start; /* Allinea gli elementi in alto */
    justify-content: space-between; /* Spaziatura uniforme tra i dettagli e i pulsanti */
    margin-bottom: 20px; /* Spaziatura inferiore tra i dettagli e i pulsanti */
}

/* Stili del container principale */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 16px;
    background-color: #fff;
    color: #000;
}

/* Stili del titolo principale */
.game-details h2 {
    text-align: center;
    color: #610361;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Stili del testo */
.game-details p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Stili dell'immagine del gioco */
.game-details img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Stili del form (pulsanti) */
.game-details .button-wrapper {
    text-align: center;
    margin-top: 20px;
}
