<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <title>Empress_Game</title>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>JNDI reference to a data source</description>
        <res-ref-name>jdbc/Empress_DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container </res-auth>
    </resource-ref>

    <!-- Registrazione_servlet -->
     <!-- Registrazione_servlet -->
    <servlet>
        <servlet-name>Registrazione_servlet</servlet-name>
        <servlet-class>control.Registrazione_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione_servlet</servlet-name>
        <url-pattern>/Registrazione_servlet</url-pattern>
    </servlet-mapping>

    <!-- Login_servlet -->
    <servlet>
        <servlet-name>Login_servlet</servlet-name>
        <servlet-class>control.Login_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_servlet</servlet-name>
        <url-pattern>/Login_servlet</url-pattern>
    </servlet-mapping>

    <!-- Logout_servlet -->
    <servlet>
        <servlet-name>Logout_servlet</servlet-name>
        <servlet-class>control.Logout_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout_servlet</servlet-name>
        <url-pattern>/Logout_servlet</url-pattern>
    </servlet-mapping>
    
    <!-- Hash_filter -->
    <filter>
        <filter-name>Hash_filter</filter-name>
        <filter-class>control.Hash_filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Hash_filter</filter-name>
        <url-pattern>/Registrazione_servlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Hash_filter</filter-name>
        <url-pattern>/Login_servlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Hash_filter</filter-name>
        <url-pattern>/Logout_servlet</url-pattern>
    </filter-mapping>
</web-app>