<?xml version="1.0" encoding="UTF-8"?>

<web-app>         
    <title>Empress_Game</title>
    <welcome-file-list>
    	 <welcome-file>Mostra_giochi_servlet</welcome-file> 
    	 <welcome-file>recensioni_servlet</welcome-file> 
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <resource-ref>
        <description>JNDI reference to a data source</description>
        <res-ref-name>jdbc/MyDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- Registrazione_servlet -->
    <servlet>
        <servlet-name>Registrazione_servlet</servlet-name>
        <servlet-class>control.Registrazione_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione_servlet</servlet-name>
        <url-pattern>/Registrazione_servlet</url-pattern>
    </servlet-mapping>

    <!-- Login_servlet -->
    <servlet>
        <servlet-name>Login_servlet</servlet-name>
        <servlet-class>control.Login_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_servlet</servlet-name>
        <url-pattern>/Login_servlet</url-pattern>
    </servlet-mapping>

    <!-- Logout_servlet -->
    <servlet>
        <servlet-name>Logout_servlet</servlet-name>
        <servlet-class>control.Logout_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout_servlet</servlet-name>
        <url-pattern>/Logout_servlet</url-pattern>
    </servlet-mapping>
     
      <!-- Mostra_giochi_servlet -->
    <servlet>
        <servlet-name>Mostra_giochi_servlet</servlet-name>
        <servlet-class>control.Mostra_giochi_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mostra_giochi_servlet</servlet-name>
        <url-pattern>/Mostra_giochi_servlet</url-pattern>
    </servlet-mapping>
    
    
     <!-- Gestione_giochi_servlet -->
    <servlet>
        <servlet-name>Gestione_giochi_servlet</servlet-name>
        <servlet-class>control.Gestione_giochi_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gestione_giochi_servlet</servlet-name>
        <url-pattern>/Gestione_giochi_servlet</url-pattern>
    </servlet-mapping>
    
     <!-- Dettagli_gioco_servlet -->
    <servlet>
        <servlet-name>Dettagli_gioco_servlet</servlet-name>
        <servlet-class>control.Dettagli_gioco_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dettagli_gioco_servlet</servlet-name>
        <url-pattern>/Dettagli_gioco_servlet</url-pattern>
    </servlet-mapping>
    
     <!-- lista_desideri_servlet-->
    <servlet>
        <servlet-name>lista_desideri_servlet</servlet-name>
        <servlet-class>control.lista_desideri_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lista_desideri_servlet</servlet-name>
        <url-pattern>/lista_desideri_servlet</url-pattern>
    </servlet-mapping>
    
    <!-- Carrello_servlet-->
    <servlet>
        <servlet-name>Carrello_servlet</servlet-name>
        <servlet-class>control.Carrello_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Carrello_servlet</servlet-name>
        <url-pattern>/Carrello_servlet</url-pattern>
    </servlet-mapping>
    
    <!-- profili_servlet-->
    <servlet>
        <servlet-name>profili_servlet</servlet-name>
        <servlet-class>control.profili_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profili_servlet</servlet-name>
        <url-pattern>/profili_servlet</url-pattern>
    </servlet-mapping>
    
    <!-- Ricerca_servlet-->
    <servlet>
        <servlet-name>Ricerca_servlet</servlet-name>
        <servlet-class>control.Ricerca_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ricerca_servlet</servlet-name>
        <url-pattern>/Ricerca_servlet</url-pattern>
    </servlet-mapping>
    
     <!-- Storico_servlet-->
    <servlet>
        <servlet-name>Storico_servlet</servlet-name>
        <servlet-class>control.Storico_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Storico_servlet</servlet-name>
        <url-pattern>/Storico_servlet</url-pattern>
    </servlet-mapping>
    
    <!-- recensioni_servlet-->
    <servlet>
        <servlet-name>recensioni_servlet</servlet-name>
        <servlet-class>control.recensioni_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>recensioni_servlet</servlet-name>
        <url-pattern>/recensioni_servlet</url-pattern>
    </servlet-mapping>
    
   
    
   
    
</web-app>